*{
	padding:0;
	margin:0;
}
nav {
	float: inline-end;
	background:#00965c;  /*Commentaire*/
	font-family: DejaVu sans mono, monospace;
	margin-bottom: 3%;
}
a {
	color:#000000; 
	text-decoration: none;
	font-size: 2vw
}
nav a {
	font-size: 40px;
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li{
	margin: 2%;
	margin-right: 20%;
}
p{
	color:#00190f; 
	font-family: Arial;
	font-size: 2vw;
}
footer
{
	bottom:0;
}
aside{
	margin-top: 3%;
	text-align: center;

}
.actuel {
	background-color: #1EC2D3;
}
img{
	height:auto;
	max-width: 100%;
}
table
{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    font-size: 2vw
}
td, th 
{
    border: 5px solid black;
}
@media screen and (max-width: 480px)
{
	nav{
    	width: 100%;
	}
	li {
		width: 20%;
	}
	nav a{
		font-size: 15px;
	}
}